.formheadbox {
  /* border: 5px solid red; */
  width: 100%;
  margin: auto;
  height: 600px;
  max-height: 80%;
  margin-top: 75px;
  /* overflow-y: scroll; */
}

.formbox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.formbox span {
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 30px;
  text-align: center;
  margin-right: 55px;
  text-transform: uppercase;
}
.formbox span a {
  color: lightblue;
  text-shadow: 1px 1px 2px #000;
  cursor: pointer;
}
.formbox span a.active {
  color: rgb(209, 143, 19);
}
.formbox span a:hover {
  /* border-bottom: 1px solid lightgreen; */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.63);
}
.formbox .AccLog {
  /* flex-grow: 5; */
  /* flex: 2 1 900px; */
  padding: 10px 5px;
  /* box-shadow: 3px 1px 1px 2px rgba(8, 8, 8, 0.74); */
  width: 95%;
  height: 100%;
  margin: auto;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-evenly;
}

.formbox .AccLog .logIn {
  /* border: 2px solid black; */
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  /* border-right: 2px solid rgb(51, 142, 172); */
  box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.589);
}
.formbox .AccLog .logIn div {
  width: 80%;
  padding: 8px;
}
.formbox .AccLog .logIn div p {
  margin-bottom: 20px;
  font-weight: 700;
  letter-spacing: 1.3px;
  font-size: 20px;
}
.formbox .AccLog .logIn div input {
  width: 100%;
  padding: 10px 5px;
  border: 2px solid lightblue;
  box-shadow: 0px 0px 2px 1px #000;
  font-size: 22px;
  outline: none;
}
.formbox .AccLog .logIn button {
  margin-top: 15px;
  padding: 5px 10px;
  width: 150px;
  color: black;
  background-color: #fff;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  border-radius: 7px;
  border: 1px solid rgb(88, 179, 209);
}
.formbox .AccLog .SignIn {
  /* border: 2px solid black; */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.589);
}
.formbox .AccLog .SignIn div {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formbox .AccLog .SignIn div span {
  text-align: left;
  display: block;
  width: 80%;
  margin: auto;
  font-size: 20px;
}
.formbox .AccLog .SignIn div input {
  padding: 8px 15px;
  color: #000;
  background-color: #fff;
  font-size: 25px;
  outline: none;
  display: block;
  width: 80%;
  margin: auto;
  border: 2px solid orange;
  box-shadow: 0px 0px 2px 1px orange;
}

.formbox .AccLog .SignIn button {
  width: 250px;
  padding: 8px 15px;
  background-color: #fff;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid orange;
  margin: auto;
  max-width: 100%;
  border-radius: 7px;
  cursor: pointer;
}

@media (max-width: 670px) {
  .formbox .AccLog .logIn {
    width: 100%;
    height: auto;
  }

  .formbox .AccLog .SignIn div input {
    width: 90%;
    font-size: 15px;
  }
  .formbox .AccLog .SignIn {
    width: 90%;
    height: auto;
  }
  .formbox .AccLog .SignIn button {
    width: auto;
  }
  .formbox .AccLog .logIn div input {
    width: 100%;
    font-size: 15px;
  }
  .formbox .AccLog .logIn button {
    width: auto;
  }
}
@media (max-height: 900px) and (max-width: 400px) {
  .formbox {
    width: 100%;
  }
  .formbox span {
    font-size: 15px;
    width: 50%;
  }
  .formbox .AccLog .logIn {
    width: 100%;
    height: 70%;
    margin-bottom: 5px;
  }
  .formbox .AccLog .SignIn div span {
    font-size: 15px;
  }
  .formbox .AccLog .SignIn div input {
    padding: 8px 6px;
    height: 25px;
  }
  .formbox .AccLog .SignIn {
    width: 80%;
    height: 70%;
    margin-bottom: 5px;
  }
}
